#colorstar { color: #ee8b2d;}
.badForm {color: #FF0000;}
.goodForm {color: #00FF00;}
.evaluation { margin-left:30px; font-size: 16px; float: right; margin-right: 5px} 
.user_rate {float:left;}
#rate_panel {height:60px;}